:root {
  --background: #eeeeee;
  --foreground: #171717;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button {
  margin-bottom: 10px;
}

thead {
  font-weight: bold;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#maps_logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

#maps_link {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

input {
  width: 600px;
}

table {
  background-color: #ffffff;
  width: 100%;
}

div#districts, div#types {
  /* border-bottom: #171717 1px dotted;
  border-top: #171717 1px dotted; */
  & > button {
    margin-top: 5px;
    float: right;
  }
}

#label {
  font-size: small;
  border-bottom: #171717 1px solid;
  padding-bottom: 0px;
}

.filter {
  display: inline-block;
}

#districts, #types {
  font-weight: bold;
  padding: 0;
}

#district-true, #type-true {
  background-color: #dddddd;
  border-radius: 10px;
}

td#name {
  width: 60%;
}

td#district, td#type {
  width: 15%;
}

td#rating {
  width: 10%;
}

tr#row > td {
  border-bottom: #0a0a0a 1px solid;
}

* {
  box-sizing: border-box;
  padding: 5;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration-line: underline;
}

#salon_link {
  text-decoration-line: none;
}